<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIvGQn3ejWP-8nQzEsVZMMifheFys71Gs</string>
	<key>GCM_SENDER_ID</key>
	<string>436561710451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lec2</string>
	<key>PROJECT_ID</key>
	<string>airbnb-3c013</string>
	<key>STORAGE_BUCKET</key>
	<string>airbnb-3c013.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436561710451:ios:d8ec21b1d42a403d97c906</string>
</dict>
</plist>